{% extends "material/base.html" %}
{% import "material/utils.html" as util %}

{% block title %}Roomii{% endblock %}


{% block content %}
<nav class="yellow darken-1" role="navigation">
	<div class = "nav-wrapper yellow darken-1">
		<a href = "#" class = "brand-logo left">Roomii</a>
		<ul id = "nav-mobile" class = "right hide-on-med-and-down">
			<li><a href = "#">Nav1</a></li>
			<li><a href = "#">Nav2</a></li>
			<li><a href = "#">Nav3</a></li>
		</ul>
	</div>
</nav>

<div class="container blue lighten-4" style="height: 100%;">
	<div class="input-field col s12">
		<h5>Questions</h5>
		<h6>Instructions</h6>
		<span>Select the answer that best corresponds to you.</span>
		<span>Then, use the slider to show how much this attribute matters in your roommate!</span>
		<span>5: "I really want my roommate to have the same answer"</span>
		<span>-5: "My roommate should have a different value."</span>
		<span>0: "Doesn't matter to me at all."</span>
		<form id="myform" action = "/survey" method="POST">
			<div id="formblock">
			</div>
			<div class="row">
	      		<div class="input-field col s6">
	        		<button id="submitReg" class="btn btn-large btn-register waves-effect waves-light" type="submit" value="Submit">
	       			Submit and Match!</button>
	      		</div>
	    	</div>
		</form>
	</div>
</div>

<script>
	var text = "";
	var i;
	var question = {{question | tojson}};
	var answers = {{answers | tojson}};
	// console.log(question);
	// console.log(answers);
	for (i = 0; i < question.length; i++) {
	  text += "<h5>" + question[i] + "</h5><br>";
	  var currentName = "\"" + i.toString() + "\"";
	  for (j = 0; j < answers[i].length; j++) {
	  	text += "<p>";
	  	text += "<label>"
	  	var currentValue = "\"" + j.toString() + "\"";
	  	if (j == 0) {
	  		text += "<input class=\"with-gap\" name=" + currentName + " type=\"radio\" value=" + currentValue + " checked/>" + "<span>" + "<font color=\"black\">" + answers[i][j] + "</font></span>";
	  	} else {
	  		text += "<input class=\"with-gap\" name=" + currentName + " type=\"radio\" value=" + currentValue + "/>" + "<span>" + "<font color=\"black\">" + answers[i][j] + "</font></span>";
	  	}
	  		  text += "</label>"
	  text += "</p>"
	  }
	  var rangeID = "\"Range" + i.toString() + "\"";
  	  text +="<p class=\"range-field\"> \
  	  <input type=\"range\" name=" + rangeID + "min=\"-5\" max=\"5\" /> \
  	  </p>";
	}
	document.getElementById("formblock").innerHTML = text;
</script>
{% endblock %}