{% extends "material/base.html" %}
{% import "material/utils.html" as util %}

{% block title %}Roomii{% endblock %}

{% block content %}
<nav class="yellow darken-1" role="navigation">
	<div class = "nav-wrapper yellow darken-1">
		<a href = "#" class = "brand-logo left">Roomii</a>
		<ul id = "nav-mobile" class = "right hide-on-med-and-down">
<!-- 			<li><a href = "#">Nav1</a></li>
			<li><a href = "#">Nav2</a></li>
			<li><a href = "#">Nav3</a></li> -->
			<li><input type="text" placeholder="Search.."></li>
		</ul>
	</div>
</nav>

<div class="container blue lighten-4" style="height: 100%;">
	<div class="section">
		<div class="row">	
			<div class="col s12 m6">		
				<div id="profile" class="section">
					<h4>Profile</h4>
					<img class="profile-image" src="{{profpic}}" height="200" width="200" alt="picture" />
				</div>
			</div>
			<div class="col s12 m6">
					<div id="profile-details" class="section">
						<h4>
							{{given_name}} {{family_name}}					
						</h4>
						<table>
							<tr>
								<th>Email</th>
								<td>{{email}}</td>
							</tr>
							<tr>
								<th>Phone</th>
								<td>{{phone}}</td>
							</tr>
							<tr>
								<th>Self description</th>
								<td>{{description}}</td>
							</tr>
						</table>
<!-- 						<div class="icon-block">
				            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
				            <h5 class="center">Speeds up development</h5>

				            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
				        </div> -->
					</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}