{% extends "material/base.html" %}
{% import "material/utils.html" as util %}

{% block title %}Roomii{% endblock %}


{% block content %}
<nav class="yellow darken-1" role="navigation">
	<div class = "nav-wrapper yellow darken-1">
		<a href = "/homepage" class = "brand-logo left">Roomii</a>   
		<ul class="hide-on-med-and-down right">               
            <li>    
                <div class="center row">
	    	      	<form class="col s12" id="reg-form" action="/searchUser" method="GET">
                    	<div class="row" id="topbarsearch">
                      		<div class="input-field col s6 s12 black-text">
                        		<i class="white-text material-icons prefix">search</i>
                        		<input type="text" placeholder="User NetID" id="netid" name="netid" class="black-text" >
                      		</div>
                     	</div>
                    </form>
                </div>         
            </li>                     
        </ul>
	</div>
</nav>


<div class="container blue lighten-4" style="height: 100%;">
	<div class="section">
		<div class="row">	
			<div class="col s12 m12 l12">
				<div id="profile-details" class="section" style="width: 100%;">
					<!---<table id="myTable" class="striped" style="width: 100%;">
					</table> -->
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var delNode = document.getElementById("profile-details");
	while(delNode.hasChildNodes()) {
		delNode.removeChild(delNode.firstChild);
	}

	var table = document.createElement("TABLE");
	table.setAttribute("id", "myTable");
	document.getElementById("profile-details").appendChild(table);

	var delTable = document.getElementById("myTable");
	while(delTable.hasChildNodes()) {
		delTable.removeChild(delTable.firstChild);
	}

	var i;
	var matchups = {{matchups | tojson}};
	var checkFriends = {{checkFriends | tojson}};
	var scores = {{scores | tojson }};

	var numRows = document.getElementById("myTable").rows.length;
	if(numRows > 20) {
		for(i = 0; i < numRows; i++) {
			document.getElementById("myTable").deleteRow(0);
		}
	}
	for (i = 0; i < 20; i++) {
		if(numRows < 20) {
			var addRow = table.insertRow(i);
		}
		var row = document.getElementById("myTable").rows[i];
		row.innerHTML = '<tr style="height: 100"></tr>';
		var blank = row.insertCell(0);
		var nameCell = row.insertCell(1);
		var emailCell = row.insertCell(2);
		// var descriptionCell = row.insertCell(3);
		var scoreCell = row.insertCell(3);
		// descriptionCell.innerHTML = '<td colspan="2"></td>';
		var nameText = "";
		var emailText = "";
		var descriptionText = "";
		var scoreText = "";
		var netid = matchups[i][0];
		nameText += matchups[i][1];
		nameText += " ";
		nameText += matchups[i][2];
		emailText += netid;
		emailText += "@duke.edu";
		// descriptionText += matchups[i][4];
		scoreText += "Match Score: ";
		scoreText += scores[i];
		var nameNode = document.createTextNode(nameText);
		var emailNode = document.createTextNode(emailText);
		var scoreNode = document.createTextNode(scoreText);

		var visitCell = row.insertCell(4);
		var visitText = '<form method=\"GET\" action=\"/searchUser\"><input type=\"submit\" name=\"netid\" id=\"netid\" value=\"' + netid +'\"></form>';
		visitCell.innerHTML = visitText;

		var blockCell = row.insertCell(5);
		var blocktext = '<form method=\"POST\" action=\"/matches\"><input type=\"submit\" name=\"addID\" id=\"addID\" value=\"'+ "Block:" + netid +'\"></form>';
		blockCell.innerHTML = blocktext;
		nameCell.append(nameNode);
		emailCell.append(emailNode);
		scoreCell.append(scoreNode);
	}

	function requestFriend(recipient) {
		var reqForm = document.createElement("FORM");
		reqForm.innerHTML ='<form action="/matches"><input type="text" name="netid" value="{{recipient}}"><input type="submit" value="Submit"></form>';
		addFriend.appendChild(reqForm);
	}
	function visitPage(toVisit) {

	}
</script>
{% endblock %}








