{% extends "material/base.html" %}
{% import "material/utils.html" as util %}

{% block title %}Roomii{% endblock %}

{% block content %}
<!-- nav bar -->
<nav class="yellow darken-1" role="navigation">
  <div class = "nav-wrapper yellow darken-1">
    <a href = "#" class = "brand-logo left">Roomii</a>
    <ul id = "nav-mobile" class = "right hide-on-med-and-down">
      <li><a href = "#">Nav1</a></li>
      <li><a href = "#">Nav2</a></li>
      <li><a href = "#">Nav3</a></li>
    </ul>
  </div>
</nav>

<!-- sign up-->
<div class="container"> 
  <div class="row" id="sign_up">
   <form class="col s12" id="reg-form">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate" required>
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate" required>
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="netid" type="netid" class="validate" required>
        <label for="netid">NetID</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" minlength="6" required>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <button class="btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Register
          <i class="material-icons right">done</i>
        </button>
      </div>
    </div>
  </form>

</div>
</div>

{% endblock %}
