{% extends "material/base.html" %}
{% import "material/utils.html" as util %}

{% block title %}Roomii{% endblock %}

{% block content %}
<!-- nav bar -->
<nav class="yellow darken-1" role="navigation">
  <div class = "nav-wrapper yellow darken-1">
    <a href = "/homepage" class = "brand-logo left">Roomii</a>   
    <ul class="hide-on-med-and-down right">               
            <li>    
                <div class="center row">
                <form class="col s12" id="reg-form" action="/searchUser" method="POST">
                      <div class="row" id="topbarsearch">
                          <div class="input-field col s6 s12 black-text">
                            <i class="white-text material-icons prefix">search</i>
                            <input type="text" placeholder="User NetID" id="netid" name="netid" class="black-text" >
                          </div>
                      </div>
                    </form>
                </div>         
            </li>                     
        </ul>
  </div>
</nav>

<div class="container" id="regForm"> 
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="reason" class="materialize-textarea"></textarea>
          <label for="reasonn">Reason</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button id="submit" class="btn btn-large btn-register waves-effect waves-light" type="submit" value="Submit">
          Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}

</html>

