{% extends "material/base.html" %}
{% import "material/utils.html" as util %}

{% block title %}Roomii{% endblock %}

{% block content %}
<!-- nav bar -->
<nav class="yellow darken-1" role="navigation">
  <div class = "nav-wrapper yellow darken-1">
    <a href = "/homepage" class = "brand-logo left">Roomii</a>   
    <ul class="hide-on-med-and-down right">               
            <li>    
                <div class="center row">
                <form class="col s12" id="reg-form" action="/searchUser" method="POST">
                      <div class="row" id="topbarsearch">
                          <div class="input-field col s6 s12 black-text">
                            <i class="white-text material-icons prefix">search</i>
                            <input type="text" placeholder="User NetID" id="netid" name="netid" class="black-text" >
                          </div>
                      </div>
                    </form>
                </div>         
            </li>                     
        </ul>
  </div>
</nav>

<!-- sign up-->
<!--
<div id="error_message" class="container red lighten-4" style ="height: 100%; display: none;">
  User already exists!
</div>
-->

<div class="container" id="reviewForm"> 
  <div class="row" id="sign_up">
   <form class="col s12" id="review-form" action="/reviewform" method="POST" enctype="multipart/form-data">
    <p>
      You are reviewing user {{netid}}.
      <input id="hidden" type = "text" name = "netid" value = "{{netid}}"/></p>
    </p>
    <div class="row">
      <div class="input-field col s3">
        <input id="cleanliness" name="cleanliness" type="range" min="1" max="5" class="validate" required>
        <p>Cleanliness<p>
      </div>
      <div class="input-field col s3">
        <input id="friendliness" name="friendliness" type="range" min="1" max="5" class="validate" required>
        <p>Friendliness</p>
      </div>
      <div class="input-field col s3">
        <input id="conscientiousness" name="conscientiousness" type="range" min="1" max="5" class="validate" required>
        <p>Conscientiousness</p>
      </div>
      <div class="input-field col s3">
        <input id="self-report accuracy" name="self-report accuracy" type="range" min="1" max="5" class="validate" required>
        <p>Self-report accuracy</p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="reviewtext" name="reviewtext" class="validate"></textarea>
        <label for="reviewtext">Review Text</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button id="submitReview" class="btn btn-large btn-register waves-effect waves-light" type="submit" value="Submit">
        Submit Review</button>
      </div>
    </div>
  </form>
</div>
</div>

<script>
  window.onload = function() {
    document.getElementById("hidden").style.display = "none";
  }
</script>
{% endblock %}

</html>

